@tailwind base;
@tailwind components;
.tooltip {
  @apply invisible absolute;
}
.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --swiper-theme-color: #f1f6f9 !important;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}
/* ===============================Header Start Here ============================  */
html {
  cursor: none;
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.sticky {
  position: sticky;
}
/* ===============================Header End Here ============================  */

/* ===============================Scrollbar Start Here ============================  */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.918);
  background-color: #0b1121;
  border-radius: 0.7rem;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.7rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
/* ===============================Scrollbar End Here ============================  */

/* ======================= Profile Image animation Start Here ============================== */
.hero_image img {
  animation: morphing 10s infinite;
  overflow: hidden;
}
@-moz-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px #0284c7;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px #0284c7;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px #0284c7;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px #0284c7;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-o-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px #0284c7;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px #0284c7;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px #0284c7;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px #0284c7;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
/* ================================= Profile Image animation End Here ======================= */

/* ================================= Esucation Timeline Start Here ======================= */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #068862;
  background-image: linear-gradient(160deg, #068862 0%, #80d0c7 100%);

  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline_container::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 35px;
  right: -17px;
  background-color: white;
  background-image: url("/cap.png");
  background-size: 31px 35px;
  background-repeat: no-repeat;
  border: 1px solid #ff6e40;
  top: 15px;
  border-radius: 50%;
  z-index: 999;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0b1121;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0b1121 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #0b1121;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* ================================= Esucation Timeline End Here ======================= */

/* ================================= Testimonial Start Here ======================= */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 350px !important;
  /* height: 400px ; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination {
  bottom: -5px !important;
}
.review_card{
  min-height: 24rem;
}
/* ================================= Testimonial End Here ======================= */

/* ================================= SVG Wave Animation Start Here ======================= */
.demo2 {
  width: 100vw;
  position: relative;
}
.demo2 .parallax > use {
  animation: waveAnimateB 14s linear infinite;
}
.demo2 .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill-opacity: 0.2;
}
.demo2 .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 12s;
  fill-opacity: 1;
}
@keyframes waveAnimateB {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* ================================= SVG Wave Animation End Here ======================= */
/*======================== Shadow Start =======================*/
.shadow_03 {
  background-image: url("/shadow_03.png");
  background-size: 136.75rem 100%;
  height: 82.625rem;
}
.shadow_04 {
  background-image: url("/shadow_04.jpg");
  background-size: 100% 100%;
  height: 105%;
}
/*======================== Shadow End =======================*/